In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime
import traceback
import gmaps
import gmaps.datasets

In [2]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [3]:
#reads csv file
last_data_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")

last_data_df.head()

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,6,Hirara,JP,75.16,light rain,24.80,125.28,Hotel Atoll Emerald Miyakojima
1,11,Atuona,PF,82.45,light rain,-9.80,-139.03,Villa Enata
2,21,Mataura,NZ,44.01,light rain,-46.19,168.86,Ellie's Villa
3,33,Port Lincoln,AU,63.25,light rain,-34.73,135.87,Port Lincoln Hotel
4,37,Saint-Philippe,RE,77.00,light rain,-21.36,55.77,"Chambres d'hôte ""La Trinité"""

In [4]:
#informations of 1. city
Acarau= last_data_df.loc[last_data_df["City"]=="Acarau"].copy()
Acarau

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
75,515,Acarau,BR,82.76,light rain,-2.89,-40.12,castelo pizzaria

In [5]:
#informations of 2. city
Itarema= last_data_df.loc[last_data_df["City"]=="Itarema"].copy()
Itarema

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
67,475,Itarema,BR,82.78,light rain,-2.92,-39.92,Windvillage

In [6]:
#informations of 3. city
SantaCruzDoCapibaribe= last_data_df.loc[last_data_df["City"]=="Santa Cruz Do Capibaribe"].copy()
SantaCruzDoCapibaribe

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
66,467,Santa Cruz Do Capibaribe,BR,81.5,moderate rain,-7.96,-36.2,Center Plaza Hotel - Santa Cruz do Capibaribe ...

In [7]:
#informations of 3. city
Diamantino= last_data_df.loc[last_data_df["City"]=="Diamantino"].copy()
Diamantino

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
78,530,Diamantino,BR,86.09,light rain,-14.41,-56.45,Hotel Delta

In [8]:
#combined dataframe 
City=["Acarau","Itarema","SantaCruzDoCapibaribe","Diamantino"]
Country=["BR","BR","BR","BR"]
Current_Description=["light rain","light rain","moderate rain","light rain"]
Hotel_Name=["castelo pizzaria","Windvillage","Center Plaza Hotel - Santa Cruz do Capibaribe","Hotel Delta"]
Lat=[-2.89, -2.92, -7.96, -14.41]
Lng=[-40.12, -39.92, -36.2, -56.45]
hotel_df=pd.DataFrame({"City": City,
                     "Country":Country,
                     "Current Description": Current_Description,
                     "Hotel Name": Hotel_Name,
                     "Lat": Lat,
                     "Lng": Lng})
hotel_df

,City,Country,Current Description,Hotel Name,Lat,Lng
0,Acarau,BR,light rain,castelo pizzaria,-2.89,-40.12
1,Itarema,BR,light rain,Windvillage,-2.92,-39.92
2,SantaCruzDoCapibaribe,BR,moderate rain,Center Plaza Hotel - Santa Cruz do Capibaribe,-7.96,-36.20
3,Diamantino,BR,light rain,Hotel Delta,-14.41,-56.45

In [9]:
#route for 4 cities
Acarau= (-2.89,-40.12)
Itarema=(-2.92,-39.92)
SantaCruzDoCapibaribe=(-7.96,-36.2)
Diamantino=(-14.41,-56.45)
fig= gmaps.figure()


Acarau2Diamantino= gmaps.directions_layer(Acarau, Diamantino, waypoints=[Itarema,SantaCruzDoCapibaribe,], travel_mode='DRIVING' )

fig = gmaps.figure()

fig.add_layer(Acarau2Diamantino)

fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
#info of box tempate
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} °F</dd>
</dl>
"""

In [11]:
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [12]:
# pop-up marker for each city.

locations = hotel_df[["Lat", "Lng"]]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))